.quiz{
    &__form{
        &-questions{
            display: flex;
            flex-direction: column;
        }
        &-button{
            background-color: orange !important;
        }
    }
    
}